{% extends "base.html" %}

{% block titulo %} Presupuesto {% endblock %}

{% block contenido %}  

    <div class=background>
        <div class= "card-container">
            <div class="card">
            <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="card-image">
                        <img src="../../static/img/Network_Solutions_Logo.png" alt="Charmander">
                    </div>
                <div class="card-text">
                <br><br><br><br><br><br>
                    <p> https://www.networksolutions.com </p>
                    <span class="date date-1"> ari2ann6.net </span>
                    <br><h2><i class="fas fa-fire"></i> Servicio </h2><br>
                    <p> 1 - 2 año &#10174; 25$/año </p>
                    <p> 3 - 5 años &#10174; 20$/año </p>
                    <p> 10 - 20 años &#10174; 20$/año </p>
                    <p> 100 años &#10174; 20$/año </p>
                    <br>
                    <p> Hosting &#127760; Web and &#87; WordPress </p>
                </div>
                <div class="card-stats card-1">
                    <div class="stat">
                        <div class="value">Starter</div>
                        <div class="type">$ 5.69</div>
                        <div class="value">1 website </div>
                        <div class="value"> 15GB </div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Essential</div>
                        <div class="type">$ 9.96</div>
                        <div class="value">3 websites</div>
                        <div class="value">300GB </div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Professional</div>
                        <div class="type">$ 25.78</div>
                        <div class="type">10 websites </div>
                        <div class="value">Unlimited </div>
                    </div>

                    <div class="stat">
                        <div class="value">Premium</div>
                        <div class="type">$ 31.61</div>
                        <div class="type">10 websites </div>
                        <div class="value">Unlimited </div>
                    </div>
                </div>
                <div class="card-stats card-4">
                    <div class="stat">
                        <div class="value">Entrepreneurs</div>
                        <div class="type">$ 7.99</div>
                        <div class="type"> 1 site</div>
                        <div class="value">50GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Growing Business</div>
                        <div class="type">$ 13.98</div>
                        <div class="type">3 sites</div>
                        <div class="value">100GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Professionals</div>
                        <div class="type">18.98</div>
                        <div class="type">5 sites</div>
                        <div class="value">200GB</div>
                    </div>
                </div>
            </div>

            <div class="card">
            <br><br><br><br><br><br><br><br><br><br><br><br>
                    <div class="card-image">
                        <img src="../../static/img/11458_zzzGD_LOCKUP_RGB_BLACK.jpeg" alt="Charmander">
                    </div>
                <div class="card-text">
                <br><br><br><br><br><br><br><br>
                <p> https://www.godaddy.com/es </p>
                    <span class="date date-2"> ari2ann6.net </span>
                    <h2><i class="fas fa-fire"></i> Servicio </h2><br>
                    <p> 1 año &#10174; $16.99</p>
                    <p> 2 años &#10174; $37.98</p>
                    <p> 3 años &#10174; $60.97</p>
                    <p> 5 años &#10174; $104.95</p>
                    <p> 10 años &#10174; $214.90</p>
                    <br>
                    <p> Hosting &#127760; Web and &#87; WordPress and VPS</p>
                    <br>
                </div>
                <div class="card-stats card-2">
                    <div class="stat">
                        <div class="value">Económico</div>
                        <div class="type">$5.99/mes</div>
                        <div class="type">1 sitio web</div>
                        <div class="type">25GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Deluxe</div>
                        <div class="type">$7.99/mes</div>
                        <div class="type">1 sitio web</div>
                        <div class="type">50GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Ultimate</div>
                        <div class="type">$12.99/mes</div>
                        <div class="type">25 sitios web</div>
                        <div class="type">75GB</div>
                    </div>

                    <div class="stat">
                        <div class="value">Máximo</div>
                        <div class="type">$19.99/mes</div>
                        <div class="type">50 sitios web</div>
                        <div class="type">100GB</div>
                    </div>
                </div>
                <div class="card-stats card-5">
                    <div class="stat">
                        <div class="value">Básico</div>
                        <div class="type">$8.99/mes</div>
                        <div class="type"> 1 sitio web</div>
                        <div class="type"> 20GB </div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Deluxe</div>
                        <div class="type">$11.99/mes</div>
                        <div class="type">1 sitio web </div>
                        <div class="type"> 40GB </div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Ultimate</div>
                        <div class="type">$12.99/mes</div>
                        <div class="type">1 sitio web</div>
                        <div class="type">60GB</div>
                    </div>

                    <div class="stat">
                        <div class="value">WOO COMMERCE</div>
                        <div class="type">$20.99/mes</div>
                        <div class="type">1 sitio web</div>
                        <div class="type">80GB</div>
                    </div>
                </div>

                <div class="card-stats card-10">
                    <div class="stat">
                        <div class="value">1 vCPU</div>
                        <div class="type">$4.99 /mes</div>
                        <div class="value">1 núcleo </div>
                        <div class="type">1GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">2 vCPU</div>
                        <div class="type">$19.99 /mes</div>
                        <div class="value">2 núcleos</div>
                        <div class="type">4GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">4 vCPU</div>
                        <div class="type">$39.99 /mes</div>
                        <div class="type">4 núcleos</div>
                        <div class="type">8GB</div>
                    </div>

                    <div class="stat">
                        <div class="value">8 vCPU</div>
                        <div class="type">$69.99 /mes</div>
                        <div class="type">8 núcleos</div>
                        <div class="type">16GB</div>
                    </div>
                </div>
            </div>
            <div class="card">
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="card-image">
                        <img src="../../static/img/Logotipo-Nodored-para-auspicios2.png" alt="Charmander">
                    </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="card-text">
                <p> https://nodored.com/</p>
                    <span class="date date-3"> ari2ann6.net </span>
                    <h2><i class="fas fa-fire"></i> Servicio </h2>
                    <p> 1 año &#10174; $13.99</p>
                    <p> 2 años &#10174; $34.00</p>
                    <p> 3 años &#10174; $51.00</p>
                    <p> 4 año &#10174; $68.00</p>
                    <p> 5 años &#10174; $85.00</p>
                    <p> 6 años &#10174; $102.00</p>
                    <p> 7 años &#10174; $119.00</p>
                    <p> 8 años &#10174; $136.00</p>
                    <p> 9 años &#10174; $153.00</p>
                    <p> 10 años &#10174; $170.00</p>
                    <p> Hosting Elástico and Reseller WHMCS and &#87; WordPress </p>
                </div>
                <div class="card-stats card-3">
                    <div class="stat">
                        <div class="value">NodoHost Starter</div>
                        <div class="type">$63.00</div>
                        <div class="type">20GB</div>
                        <div class="type">2 BD</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">NodoHost Plus</div>
                        <div class="type">$98.00</div>
                        <div class="type">35GB</div>
                        <div class="type">4 BD</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">NodoHost Extra</div>
                        <div class="type">$99.00</div>
                        <div class="type">50GB</div>
                        <div class="type">6 BD</div>
                    </div>
                </div>

                <div class="card-stats card-6">
                    <div class="stat">
                        <div class="value">Reseller Starter</div>
                        <div class="type">$1.00</div>
                        <div class="type">100GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Reseller Plus</div>
                        <div class="type">$1.00</div>
                        <div class="type">150GB</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Reseller Extra</div>
                        <div class="type">$1.00</div>
                        <div class="type">200GB</div>
                    </div>
                </div>

                <div class="card-stats card-7">
                    <div class="stat">
                        <div class="value">StartUp</div>
                        <div class="type">$206.99/año</div>
                        <div class="type">50GB</div>
                        <div class="type">2 BD</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">Next</div>
                        <div class="type">$287.99/año</div>
                        <div class="type">100GB</div>
                        <div class="type">5 BD</div>
                    </div>
                    <!-- <div class="border"></div> -->
                    <div class="stat">
                        <div class="value">RockStar</div>
                        <div class="type">$321.99/año</div>
                        <div class="type">200GB</div>
                        <div class="type">10 BD</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
